# Node modules
node_modules

# Build output (optional if you're building inside the container)
dist
build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage

# Environment variables
.env
.env.*     # like .env.local, .env.production

# Git
.git
.gitignore

# Editor settings
.vscode
.idea

# OS-specific
.DS_Store
Thumbs.db

# Docker files
Dockerfile
.dockerignore
